---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="about Mike Pfundt"
	pubDate={new Date('May 11 2025')}
	heroImage="/mikepfunk_photo.jpg"
>
	    <section class="about-section">
      <h1>About Mike P. Funk</h1>
      
      <p>
        Welcome to mikepfunk.com, the digital showcase of Mike P. Funk — a
        seasoned expert in Quality Assurance (QA), Localization, Artificial
        Intelligence, and custom GPTs development, AWS, the cloud, full stack
        developer. With a robust portfolio that spans various innovative
        programming projects, I try to be at the forefront of technology
        integration and application. Starting my career at Irrational Games,
        contributing to the iconic Bioshock series, as well as my own small
        games. I've continuously tried to innovate and pushed the boundaries of
        technology, ensuring high-quality solutions that resonate globally. My
        focus remains on delivering impactful results that drive success and
        foster growth in the tech landscape.  My passion is in tech, and security,
        as well as IOT, and AI, and the cloud, as in a way the cloud allowed this.  
        If you think about it, because of the cloud, we could do so much more, like 
        having a 1000 core cpu, or 10000GB VRAM in a gpu.
      </p>
      <h1>Industry Expertise</h1>
      <p>
        I've created this as an ongoing comprehensive portfolio that highlights
        the depth of my knowledge and experience across various industries. Showcasing
        projects that demonstrate the ability to harness advanced technologies
        to solve complex problems and enhance user interactions. Explore the
        site to discover how I combine technical expertise with strategic
        insight to deliver exceptional results.  I have my AWS Cloud Practitioner,
        as well as am an "Early Adopter" of the AWS AI Foundational Certification.
        Which is a special badge they have never done before, where if you were to
        pass the exam within a certain amount of time, you would get this badge.  
        I am currently pursuing the AWS Certified Developer Associate and AWS ML
        Associate Certification.  At the same time I have been working with AI, like
        MCP servers, and making my own, as well as making my own cursor like IDE.
        <br />
        I am a full stack developer, using React and Nodejs, as well as other frame-
        works, Convex chef, and Nextjs, Threejs, and use python as well.  The best place to 
        view my skills would be on <a href="https://www.linkedin.com/in/michae.pfundt">
          LinkedIn</a>, where you can view my past experience, as well as articles, 
          and explanations for LeetCode, and Advent of Code problems I have tackled.  
          I will be adding those to my blogs section, as the Leetcode explanations 
          and articles are worth sharing.
          <br />
          To view my projects, check out my <a href="https://www.github.com/mikepfunk">GitHub</a>.
          I will be adding the list of projects with their links as well.
        <br />
        
        I've have built my own cloud locally, where I use Kubernetes, and Docker to 
        manage an aws like environment.  Where I control the containers with Terraform.  
        Using 'tflocal' to wrap the aws cli, which Localstack does.  You can also use 
        DynamoDB local, MySQL Workbench, and S3 local all for emulating your cloud 
        environment.  So you never have to worry about your setup when it is live, 
        no surprise charges, no surprises at all, you know exactly what it will do, 
        and how it will act when it is live in production.  I use Vite for
        building web projects, as well as Expressjs, and have been using more

        Tailwindcss, and have used Bootstrap, as well as my own custom css.  I
        have also to built my own small games, some for IOT devices through 
        Microsoft maker platform, and have worked in Unity, Phaserjs, as well as in 
        the cloud.  This website is built using Cloudflare pages, their serverless 
        platform, where my domain is hosted.  Similar to how you would setup a 
        static website on AWS S3.  I have many cloud projects I need to add to my 
        portfolio as well, which will take some time.
        <br />
        Previously I worked for Irrational Games on Bioshock, and for a flight 
        tracking software company, called FlightView, where I ran the support 
        department, and was able to wear many hats and get a lot of valuable 
        experience.  I worked directly with sales, as the technical advisor, 
        and in any calls, I worked with SalesForce and used it to create 
        a custom customer report solution that kept the entire team aware 
        of any issues.  I also was the first line for any support issues, if 
        I could not resolve them, then a developer, usually who made the product, 
        would take over.  I worked with the developers and used xml configurations 
        files to customize products for our customers.  You have probably seen them 
        in your local airport at one time or another.  I created my own scripts 
        for the builds operations would handle, and worked closely with all teams 
        especially operations, and the developers.  One project myself and Ops team 
        worked on was the auditing of our entire system, as class 1 flight data is 
        restricted from the public, so you have special governance and compliance 
        regulations you have to follow.  I also worked with Operations to secure 
        our environment, and track all the hits to our servers, making sure all 
        demo projects, or mock ups were not hitting production.  This helped us 
        tighten up our systems, and allowed us to be more proactive when it came 
        to any outages, or issues.
        <br />
        <h1>Hobbies</h1>
        <p>
          I have many hobbies, I love to play video games, and have been playing
          them since I was a kid.  I have built my own computers, and love building 
          them.  I love to tinker with electronics, which makes IOT, devices like 
          the flipperzero, and esp32 modules very exciting.  I love to work on 
          and have built my own small games, and projects.  I also love to work
          on my car, and have done many projects on it, from changing the oil,
          to changing the brakes, I am a DIYer pretty much for everything.  
          I love to garden as well, and due to having crohn's I have especially 
          love to grow organically.  My dog, Fred and I love to just hang out, 
          and code, sometimes we fight crime..but don't tell anyone..
          <br />
          <img src="/fred_and_I.png" alt="Fred and I">

        </p>
        <a href="#projects">View My Projects</a>
      </p>
      <h1>Innovation in AI</h1>
      <p>
        Venturing into the realm of artificial intelligence, I have embraced the
        transformative potential of AI technologies. AI represents the cutting
        edge of human-computer interaction, and my contributions in this field
        are geared towards creating more natural, engaging auditory experiences
        for users. By integrating AI into various applications, I aim to
        revolutionize how we interact with machines, making interactions as real
        as conversing with a human. MCP servers are a technology that I am deep
        into as well, which allows AI to use tools to aid you and itself to
        accomplish the task.
      </p>
      <h1>Custom AI Solutions</h1>
      <p>
        Building on my passion for AI, I have ventured into developing custom
        GPTs (Generative Pre-trained Transformers). These projects involve
        designing tailored AI models that not only understand and generate
        human-like text but are also specialized to perform unique tasks that
        cater to specific business needs. This expertise underscores my
        capability to craft bespoke solutions that leverage AI's power to solve
        complex problems and automate processes.
      </p>
      <h1>Programming and Development</h1>
      <p>
        Beyond AI, my project page highlights an extensive array of programming
        ventures. From developing intuitive user interfaces to engineering
        software solutions that stand the test of time, my programming skills
        are diverse and constantly evolving. Each project showcases my ability
        to navigate and innovate within the tech landscape, pushing boundaries,
        and setting new benchmarks.
      </p>
      <h1>Connect with Mike</h1>
      <p>
        Explore my projects, dive into the technologies I've harnessed, and
        discover how I'm shaping the future of digital interactions. Whether
        you're interested in collaborating, learning more about my work, or
        simply connecting, I'm here to explore potential opportunities and
        innovate together. Let's make technology more accessible, engaging, and
        effective for all.
        <br />
        <a href="#contact">Contact Me</a>
        <br />
        <a href="#portfolio">View My Portfolio</a>
        <br />
        <a href="https://github.com/mikepfunk28">View My GitHub</a>
      </p>
      <h1>AI Hallucinations</h1>
      <p>
        In the rapidly evolving field of artificial intelligence, one
        significant challenge is AI hallucination — the generation of incorrect
        or nonsensical information by AI models. With a deep understanding of AI
        model training and prompt engineering, I am uniquely equipped to
        mitigate these issues. My approach ensures that AI systems are not only
        accurate but also reliable, providing businesses with solutions that
        they can trust.
      </p>
      <h1>AWS Cloud Institute</h1>
      <p>
        As a proud member of the AWS Cloud Institute, I am committed to
        advancing cloud computing and AI technologies. Through this platform, I
        collaborate with industry experts, share insights, and contribute to the
        development of cutting-edge solutions. My involvement in the AWS Cloud
        Institute underscores my dedication to innovation and excellence in the
        tech industry.
      </p>
      <h1>AWS Certifications</h1>
      <p>
        <a href="#badges">AWS Certified Cloud Practitioner</a>
        <br />
        <a href="#badges">AWS AI Foundational Certification Early Adopter</a>
        <br />
        <h2>Pursuing</h2>
        <p>AWS Certified Developer Associate
        <br />
        AWS ML Associate Certification
        </p>
      </p>
</Layout>
