---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, Welcome to my Blog!</h1>
			<p>
				My site is using <a href="https://astro.build/">Astro</a> blog starter template. This
				template serves as a lightweight, minimally-styled starting point for anyone looking to build
				a personal website, blog, or portfolio with Astro.  You can check out my website, 
				<a href="https://mikepfunk.com">here.</a>
			</p>
			<p>
				You can setup a template like I did which incorporates your framework, 
				 for me, this was cloudflare.  The <code>astro.config.mjs</code> file will
				 contain the integrations you need.  Astro is simple, easy to setup and 
				 straightforward to integrate with your current setup.  I noticed there is a 
				 Model Context Protocol server for astro in it's 
				 <a href="https://astro.build/integrations">Integrations.</a>
			</p>
			<p>Here are a few blog posts to visit to get started with the template:</p>
			<ul>
				<li>Visit my first post here <code><a href="src/content/blog/first-aoc2">Advent of Code 2024 Day 2</a></li></code>
				<li>Brief summary of Chain of Thought ChatGPT Prompt-Eng. <a href="/blog/second-prompt">Chain of Thought Prompting</a></li>
				<li>Check out my blog on web development <a href="/blog/third-webdev">Web Development</a></li>
				<li>Check out my testing locally before Prod <a href'"/blog/fourth-local>Testing Locally</a></li>
				<li>Check my post on Advent of Code Day 1 2024 <a href="/blog/fifth-aoc1">Advent of Code Day 1 2024</a></li>
				<li>Using Docker/Go and Terraform and Localstack <a href="/blog/six-docker">Creating your own container</a></li>
			</ul>
			<p>
				Looking to network or chat, connect with me on LinkedIn
				by <a href="https://linkedin.com/in/michael.pfundt">Mike</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
