// src/components/LatestPost.jsx
import React from 'react';

export default function LatestPost({ post }) {
  const { title, description, date, slug } = post;

  return (
    <article>
      <h2>Latest Post</h2>
      <a href={`/blog/${slug}`}>
        <h3>{title}</h3>
      </a>
      <time dateTime={new Date(date).toISOString()}>
        {new Date(date).toLocaleDateString()}
      </time>
      <p>{description}</p>
    </article>
  );
}
